header{
 background-color:aqua;
 height: 100px;  
  
}
div1{
    background-color: orange;
    width: 300px;
    display: inline-block;
    height: auto;
    margin-top: 15px   ;
    padding: 10px;
}
div2{
    background-color: blueviolet;
    display: inline-block;
    width: 1000px;
    height:auto;
    float: right;
    margin-top: 15px;
    padding: 10px;
    
}
footer{
    background-color: aqua;
    height: 100px;
    margin-top: 15px;
    

}
body{
    background-image: url(https://media.zigcdn.com/media/model/2018/Oct/front-right-view-2028953465_930x620.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
